<?xml version="1.0"?>

<launch>
    <param name="fixed_frame" value="map"/>
    <param name="anemometer_frame" value="anemometer_frame"/>
    
    <include file="$(find crazyflie_description)/launch/crazyflie2_rviz.launch" />

    <include file="$(find plume_environment)/launch/plume.launch" />

    <include file="$(find plume_gsl)/launch/probability_mapping.launch" />

    <node name="move_drone" pkg="crazyflie_control" type="move_drone.py" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find plume_gsl)/launch/rviz/demo.rviz" required="true" />

</launch>
