<?xml version="1.0"?>

<launch>

    <include file="$(find plume_gsl)/launch/base_demo.launch" />

    <node name="metaheuristic" pkg="plume_gsl" type="metaheuristic.py" output="screen" >
        # Algorithm:
        # RASTER_UPWIND = 0
        # ZIGZAG = 1
        # METAHEURISTIC = 2
        <param name="Algorithm" value="0" />
    </node>

</launch>
