<launch>
    <node name="mapping" pkg="plume_gsl" type="mapping.py" output="screen">
        <param name="xlims" value="[0,20]"/>
        <param name="ylims" value="[0,20]"/>
        <param name="resolution" value="0.4"/>
        <param name="height" value="3"/>
        <param name="sigma_x" value="2"/>
        <param name="sigma_y" value="2"/>
        <param name="sensor_accuracy" value="0.9"/>
        <param name="verbose" value="false"/>
        
        # Sensor params
        <param name="fixed_frame" value="map"/>
        <param name="anemometer_frame" value="anemometer_frame"/>
        <param name="sensor_frame" value="mox_frame"/>
        <param name="use_service_for_gas" value="false"/>
    </node>
</launch>
