<?xml version="1.0"?>

<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find crazyflie_description)/urdf/crazyflie2.urdf.xacro" />
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="crazyflie_pose_transform" pkg="crazyflie_description" type="pose_transform">
    <rosparam command="load">
      drone_spawn_x: 15.0
      drone_spawn_y: 10.0
      drone_spawn_z: 3.0
      drone_spawn_yaw: 0.0
    </rosparam>
  </node>


</launch>
