<!-- Mission file for GADEN preprocessing
    ROS - KINETIC
-->

<launch>
    <arg name="scenario" default="four_pillars" />
    
    <node pkg="gaden_preprocessing" type="preprocessing" name="preprocessing" output="screen" >
 
        #Cell size
        <param name="cell_size" value="0.5"/>    
        
        #CAD models of the enviroment (.stl)
        <param name="number_of_models" value="1"/>
        <param name="model_0" value="$(find plume_environment)/environments/$(arg scenario)/cad_models/Part1.STL"/>
        #ROS_DEBUG("Part1 loaded"); 
        
        #CAD model of the outlets (.stl)
        <param name="number_of_outlet_models" value="1"/>
        <param name="outlets_model_0" value="$(find plume_environment)/environments/$(arg scenario)/cad_models/outlet.STL"/>
	    <param name="outlets_model_1" value="$(find plume_environment)/environments/$(arg scenario)/cad_models/outlet.STL"/>
	    <param name="outlets_model_2" value="$(find plume_environment)/environments/$(arg scenario)/cad_models/outlet.STL"/>
	    <param name="outlets_model_3" value="$(find plume_environment)/environments/$(arg scenario)/cad_models/outlet.STL"/>
        #ROS_DEBUG("outlet loaded");

        #3D Location of a point in free-space
        <param name="empty_point_x" value="1.0"/>      ### (m)
        <param name="empty_point_y" value="1.0"/>      ### (m)
        <param name="empty_point_z" value="10"/>      ### (m)
        #ROS_DEBUG("free-space loaded");    

        #Wind Data (the node will append _i.csv to the name that is specified here)
        <param name="wind_files" value="$(find plume_environment)/environments/$(arg scenario)/wind_simulations/dynamic/wind"/>

        #Where to write the output files
        <param name="output_path" value="$(find plume_environment)/environments/$(arg scenario)/" />
    </node>
</launch>

